@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=SUSE:wght@100..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.container__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 230px;
}

.header {
  padding: 20px 0;
  background-image: linear-gradient(rgb(0 0 0 / 0%), rgba(0, 0, 0, 0.5)),
    url(../images/main.webp);
  background-size: cover;
  /* height: 90vh; */
  background-position: 900px;
}

@media screen and (min-width: 1200px) {
  .header {
    background-position: top;
  }
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .header__top {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.header__banner {
  width: 100%;
  background: #1414ff;
  padding: 10px;
  text-align: center;
}

.header__banner p {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  padding: 20px;
}

.header__banner p > span {
  color: aquamarine;
}

.logo img {
  max-width: 120px;
  border-radius: 5px;
}

.header__call {
  text-align: right;
}

@media screen and (max-width: 768px) {
  .header__call {
    margin-top: 50px;
    max-width: 150px;
    text-align: center;
    text-shadow: 0 0 1px #ffffff;
  }
}

.header__img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.header__img-wrapper img {
  height: 50px;
}

.phone-number {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.phone {
  display: block;
  font-size: 24px;
  font-weight: bold;
}

.header__content {
  margin-top: 20px;
}

header h1 {
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: 55px;
  line-height: 64px;
}

p {
  font-size: 18px;
  color: #666;
}

.zip-form {
  margin: 20px 0;
}

.zip-input {
  padding: 10px;
  font-size: 18px;
  width: 200px;
  margin-right: 10px;
}

.btn-primary {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.licensed-text p {
  margin-top: 20px;
  font-size: 16px;
  color: #fff;
}

.btn-call {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 20px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
}

.btn-call:hover {
  background-color: #45a049;
}

/* Media Queries для адаптивности */
@media (max-width: 768px) {
  .header__top {
    flex-direction: column;
    text-align: center;
  }

  h1 {
    font-size: 28px;
  }

  .zip-input {
    width: 150px;
    font-size: 16px;
  }

  .btn-primary,
  .btn-call {
    font-size: 18px;
    padding: 8px 15px;
  }

  .phone-number .phone {
    font-size: 18px;
    text-align: center;
  }
}

/* Основные стили для секции с провайдерами */
.health-plans {
  text-align: center;
  padding: 20px 0;
}

.health-plans h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #4a5f91; /* Синий цвет заголовка */
}

/* Стили для контейнера с провайдерами */
.health-providers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.provider img {
  max-width: 150px; /* Ширина изображения логотипа */
  height: auto;
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
  .health-providers {
    flex-direction: column; /* Логотипы идут сверху вниз */
    gap: 15px;
  }

  .provider img {
    max-width: 120px; /* Уменьшаем ширину логотипов на мобильных */
  }
}

.plans-section {
  text-align: center;
  padding: 20px;
}

.tabs {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #6469ef;
  color: white;
  cursor: pointer;
  margin: 0 5px;
  min-height: 50px;
}

.tab-button.active {
  background-color: #3e44b1;
}

.plan-content {
  max-width: 600px;
  margin: 0 auto;
}

.plan {
  display: none;
}

.plan.active {
  display: block;
}

.plan img {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 15px;
}

.view-plans-button {
  margin-top: 20px;
}

.btn {
  padding: 15px 30px;
  background-color: #3e44b1;
  color: white;
  border-radius: 20px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #2d34a1;
}

/* Адаптивность */
@media (max-width: 768px) {
  .tab-button {
    font-size: 14px;
    padding: 8px 15px;
  }

  .plan img {
    width: 100%;
    height: auto;
  }

  .btn {
    font-size: 14px;
    padding: 10px 20px;
  }
}

.plan p {
  padding: 10px;
}

.how-it-works-section {
  text-align: center;
  padding: 20px 20px;
  background-color: #eaf2f7;
}

.section-title {
  color: #336699;
  font-size: 14px;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.main-title {
  font-size: 28px;
  color: #12375e;
  font-weight: bold;
  margin-bottom: 20px;
}

.description {
  font-size: 16px;
  color: #6b7b91;
  line-height: 1.6;
  max-width: 600px;
  margin: 0 auto;
}

/* Адаптивность */
@media (max-width: 768px) {
  .main-title {
    font-size: 22px;
  }

  .description {
    font-size: 14px;
  }
}

.testimonials-section {
  text-align: center;
  padding: 40px 20px;
  background-color: #eaf2f7;
}

.section-title {
  font-size: 24px;
  color: #000;
  font-weight: bold;
  margin-bottom: 30px;
}

.testimonials {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.testimonial {
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.customer-name {
  font-size: 16px;
  color: #6f73ff;
  margin-bottom: 10px;
}

.date {
  font-size: 14px;
  color: #c2c2c2;
  position: absolute;
  top: 20px;
  right: 20px;
}

.testimonial-text {
  font-size: 14px;
  color: #333;
  margin-bottom: 20px;
  line-height: 1.5;
}

.stars {
  font-size: 20px;
  color: #6f73ff;
}

/* Адаптивность */
@media (max-width: 768px) {
  .testimonials {
    flex-direction: column;
    align-items: center;
  }

  .testimonial {
    width: 90%;
    margin-bottom: 20px;
  }

  .section-title {
    font-size: 20px;
  }
}

.about-us-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  background-color: #fff;
}

@media screen and (min-width: 1200px) {
  .about-us-section {
    justify-content: center;
  }
}

.about-us-content {
  max-width: 50%;
}

.section-title {
  color: #6f73ff;
  font-size: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.main-title {
  font-size: 28px;
  color: #12375e;
  font-weight: bold;
  margin-bottom: 20px;
}

.description {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}

.features-list {
  list-style: none;
  margin-bottom: 30px;
}

.features-list li {
  font-size: 16px;
  color: #12375e;
  margin-bottom: 10px;
}

.btn {
  padding: 15px 30px;
  background-color: #0066cc;
  color: white;
  border-radius: 20px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #004c99;
}

@media screen and (min-width: 1200px) {
  .about-us-image {
    max-width: 60%;
  }
}

.about-us-image img {
  max-width: 70%;
  border-radius: 10px;
}

@media screen and (min-width: 1200px) {
  .about-us-image img {
    max-width: 70%;
    border-radius: 10px;
    margin: 0px auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
  }
}

/* Адаптивность */
@media (max-width: 768px) {
  .about-us-section {
    flex-direction: column;
    text-align: center;
    gap: 35px;
  }

  .about-us-content {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .main-title {
    font-size: 22px;
  }

  .btn {
    font-size: 14px;
    padding: 10px 20px;
  }
}

@media screen and (min-width: 1200px) {
  .container__about {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footer-section {
  background-color: #356d77;
  padding: 20px;
  color: white;
  text-align: center;
}

.footer-text {
  font-size: 14px;
  line-height: 1.6;
  color: white;
  margin-bottom: 20px;
}

.footer-text a {
  color: #b7d4d8;
  text-decoration: none;
}

.footer-text a:hover {
  text-decoration: underline;
}

.footer-copyright {
  font-size: 16px;
  color: #b7d4d8;
}

.footer-copyright a {
  color: #b7d4d8;
  text-decoration: none;
}

.footer-copyright a:hover {
  text-decoration: underline;
}

/* Адаптивность */
@media (max-width: 768px) {
  .footer-text {
    font-size: 12px;
  }

  .footer-copyright {
    font-size: 16px;
  }
}

.container__questions p {
  line-height: 35px;
}

.container__questions h2 {
  padding: 15px;
}

.how-it-works-section {
  text-align: center;
  padding: 40px 20px;
  background-color: #f9fbfd;
}

.section-title {
  color: #4b72d4;
  font-size: 14px;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.main-title {
  font-size: 28px;
  color: #12375e;
  font-weight: bold;
  margin-bottom: 20px;
}

.description {
  font-size: 16px;
  color: #6b7b91;
  line-height: 1.6;
  max-width: 600px;
  margin: 0 auto 0px;
}

.steps-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.step {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.icon {
  margin-bottom: 15px;
}

.step-title {
  font-size: 18px;
  color: #12375e;
  font-weight: bold;
  margin-bottom: 10px;
}

.step-description {
  font-size: 14px;
  color: #6b7b91;
}

/* Адаптивность */
@media (max-width: 768px) {
  .steps-container {
    flex-direction: column;
    align-items: center;
  }

  .step {
    width: 100%;
    max-width: 350px;
    margin-bottom: 20px;
  }
}

/* Стили для секции */
.cta-section {
  background-color: #0a2a53;
  color: white;
  text-align: center;
  padding: 40px 20px;
  /* border-radius: 10px; */
}

.cta-container h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.cta-container p {
  font-size: 16px;
  margin-bottom: 30px;
  color: #fff;
}

.cta-button {
  background-color: #1f6ed4;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #15529c;
}

/* Модальное окно */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #f1f2f3;
  margin: 15% auto;
  padding: 40px;
  border-radius: 10px;
  width: 80%;
  max-width: 550px;
  text-align: center;
  position: relative;
}

.close-btn {
  /* position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer; */
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 24px;
  cursor: pointer;
  background: #fff;
  padding: 10px 25px;
  border-radius: 50px;
}

.modal h3 {
  /* margin-bottom: 10px; */
  font-size: 2rem;
  color: #0a2a53;
}

.modal p {
  font-size: 18px;
  color: #0a2a53;
  /* margin-top: 10px; */
}

@media screen and (min-width: 1200px) {
  .modal p {
    font-size: 28px;
    color: #0a2a53;
    /* margin-top: 20px; */
  }
}

.modal-image {
  max-width: 66%;
  border-radius: 10px;
  background: antiquewhite;
}

/* Адаптивность */
@media (max-width: 768px) {
  .modal-content {
    width: 90%;
  }
}

.contact_phone a {
  border-radius: 10px;
  background: #d6e8ff;
  color: #347d88;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
  font-weight: 600;
  text-decoration: none;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .contact_phone a {
    font-size: 2rem;
  }
}

.modal_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  flex-direction: column;
}

.max-width {
  max-width: 900px;
  margin: 0px auto;
  padding: 25px;
}
