@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=SUSE:wght@100..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.container__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 230px;
}

.header {
  padding: 20px 0;
  background-image: linear-gradient(rgb(0 0 0 / 0%), rgba(0, 0, 0, 0.5)),
    url(../images/main.webp);
  background-size: cover;
  /* height: 90vh; */
  background-position: 900px;
}

@media screen and (min-width: 1200px) {
  .header {
    background-position: top;
  }
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .header__top {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.header__banner {
  width: 100%;
  background: #1414ff;
  padding: 10px;
  text-align: center;
}

.header__banner p {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  padding: 20px;
}

.header__banner p > span {
  color: aquamarine;
}

.logo img {
  max-width: 120px;
  border-radius: 5px;
}

.header__call {
  text-align: right;
}

.header__img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.header__img-wrapper img {
  height: 50px;
}

.phone-number {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.phone {
  display: block;
  font-size: 24px;
  font-weight: bold;
}

.header__content {
  margin-top: 20px;
}

header h1 {
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: 55px;
  line-height: 64px;
}

p {
  font-size: 18px;
  color: #666;
}

.zip-form {
  margin: 20px 0;
}

.zip-input {
  padding: 10px;
  font-size: 18px;
  width: 200px;
  margin-right: 10px;
}

.btn-primary {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.licensed-text p {
  margin-top: 20px;
  font-size: 16px;
  color: #fff;
}

.btn-call {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 20px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
}

.btn-call:hover {
  background-color: #45a049;
}

/* Media Queries для адаптивности */
@media (max-width: 768px) {
  .header__top {
    flex-direction: column;
    text-align: center;
  }

  h1 {
    font-size: 28px;
  }

  .zip-input {
    width: 150px;
    font-size: 16px;
  }

  .btn-primary,
  .btn-call {
    font-size: 18px;
    padding: 8px 15px;
  }

  .phone-number .phone {
    font-size: 18px;
  }
}

/* Основные стили для секции с провайдерами */
.health-plans {
  text-align: center;
  padding: 20px 0;
}

.health-plans h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #4a5f91; /* Синий цвет заголовка */
}

/* Стили для контейнера с провайдерами */
.health-providers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.provider img {
  max-width: 150px; /* Ширина изображения логотипа */
  height: auto;
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
  .health-providers {
    flex-direction: column; /* Логотипы идут сверху вниз */
    gap: 15px;
  }

  .provider img {
    max-width: 120px; /* Уменьшаем ширину логотипов на мобильных */
  }
}

.plans-section {
  text-align: center;
  padding: 20px;
}

.tabs {
  margin-bottom: 20px;
}

.tab-button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #6469ef;
  color: white;
  cursor: pointer;
  margin: 0 5px;
}

.tab-button.active {
  background-color: #3e44b1;
}

.plan-content {
  max-width: 600px;
  margin: 0 auto;
}

.plan {
  display: none;
}

.plan.active {
  display: block;
}

.plan img {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 15px;
}

.view-plans-button {
  margin-top: 20px;
}

.btn {
  padding: 15px 30px;
  background-color: #3e44b1;
  color: white;
  border-radius: 20px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #2d34a1;
}

/* Адаптивность */
@media (max-width: 768px) {
  .tab-button {
    font-size: 14px;
    padding: 8px 15px;
  }

  .plan img {
    width: 100%;
    height: auto;
  }

  .btn {
    font-size: 14px;
    padding: 10px 20px;
  }
}

.plan p {
  padding: 10px;
}

.how-it-works-section {
  text-align: center;
  padding: 40px 20px;
  background-color: #eaf2f7;
}

.section-title {
  color: #336699;
  font-size: 14px;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.main-title {
  font-size: 28px;
  color: #12375e;
  font-weight: bold;
  margin-bottom: 20px;
}

.description {
  font-size: 16px;
  color: #6b7b91;
  line-height: 1.6;
  max-width: 600px;
  margin: 0 auto;
}

/* Адаптивность */
@media (max-width: 768px) {
  .main-title {
    font-size: 22px;
  }

  .description {
    font-size: 14px;
  }
}
